<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
<script>
   $(function () {
	   $('[data-toggle="popover"]').popover();
	   $('[data-toggle="tooltip"]').tooltip();

	   $('#hljs-theme-toggler').click(function () {
		   var m = $('#hljs-theme').attr('media');
		   m = ('none' == m) ? '' : 'none';
		   $('#hljs-theme').attr('media', m);
	   });

	   $('#popover-toggler').click();
   });
   hljs.initHighlightingOnLoad();

	var json = $.getJSON('./gfonts.json', function(data) {
		$.each( data.items, function( index, font ) {
			$('#gfont').append( $('<option></option>').attr('value', font.family).text(font.family) );
		});
	});

	$("#gfont").on("change", function () {
		var fontName = $(this).find(':checked').text();
		var fontChoice = this.value;

		WebFont.load({
			google: {
				families: [fontChoice],
			},
		});

		$("body").css("font-family", fontName);

		console.log($("body").css("font-family"));
	});
</script>
